$colors: (
	primary: #0090ef,
	success: #00b348,
	gray-100: #f7f7f7,
	gray-200: #f1f1f1,
	gray-900: #303030,
	dark-primary: #424242,
	dark-secondary: #303030,
	dark: #424242,
	white: #fff
);

@include create2DBemStyling("background-color", $colors, "bg");
@include create2DBemStyling("color", $colors, "text");

