body {
	@include fontSize(1);
}

a {
	color: unset;

	&:hover {
		color: $brand-primary;
	}

	&:visited {
		color: $brand-disabled;
	}
}

.mini-hr {
	margin: auto;
	color: $border-color;
	width: 90px;
	border-width: 5px;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}
