@mixin createBemStyling(
	$propertyName,
	$propertyValues,
	$className,
	$isImportant: true
) {
	@each $value in $propertyValues {
		.#{$className}-#{$value} {
			#{$propertyName}: #{$value} #{if($isImportant, "!important", "")};
		}
	}
}

@mixin create2DBemStyling(
	$propertyName,
	$propertyValues,
	$className,
	$isImportant: true
) {
	@each $valueName, $value in $propertyValues {
		.#{$className}-#{$valueName} {
			#{$propertyName}: #{$value} #{if($isImportant, "!important", "")};
		}
	}
}

@mixin fontSize($multiplier: 1, $size: $fontSize) {
	font-size: #{map-get($size, "px") * $multiplier}px;
	font-size: #{map-get($size, "rem") * $multiplier}rem;
}
