$positions: ("relative", "absolute", "fixed");
$displays: (
	"block",
	"inline",
	"inline-block",
	"table",
	"flex",
	"grid",
	"inline-flex",
	"table-row",
	"table-cell"
);

$margins: ("top", "bottom", "right", "left");

@mixin createBemPositionStyling(
	$positions,
	$className,
	$propertyName,
	$isImportant: true
) {
	@for $i from 1 to 20 {
		@each $position in $positions {
			.#{$className}-#{$position}-#{$i*5} {
				#{$propertyName}-#{$position}: #{$i *
					5}px
					#{if($isImportant, "!important", "")};
			}
		}
	}
}

@include createBemStyling("position", $positions, "position");
@include createBemStyling("display", $displays, "display");
@include createBemStylingWithCustomPropertyAndFixedValue(
	"margin",
	$margins,
	"no-margin",
	0
);
@include createBemStylingWithCustomPropertyAndFixedValue(
	"padding",
	$margins,
	"no-padding",
	0
);
@include createBemPositionStyling($margins, "m", "margin");
@include createBemPositionStyling($margins, "p", "padding");
