.header--wrapper {
	.header-contact {
	}

	.header-nav {
	}
}

.header-contact {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $border-color;

	.header-contact__row {
		display: flex;
		flex-wrap: wrap;
	}

	.header-contact__bookmark {
		display: flex;
		justify-content: left;
		align-items: center;
		@include fontSize(0.875);

		> * {
			display: inline-block;
		}

		.bookmark__ribbon {
			position: relative;
			color: $brand-white;
			margin-top: -15px;

			> i {
				@include fontSize(1.125);
			}
		}

		.bookmark__ad {
			margin-left: 10px;
		}
	}

	.header-contact__info {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-left: auto;
		@include fontSize(1.125);
	}
}

.header-contact__info .info-list {
	padding: 0;
	margin: 0;

	.info-list__item {
		list-style-type: none;
		display: inline-block;

		& + .info-list__item {
			margin-left: 10px;
		}
	}
}

.header-nav {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid $border-color;

	.header-nav__row {
		display: flex;
		flex-wrap: wrap;
	}

	.header-nav__logo {
		.logo__image {
			max-height: 50px;
		}
	}

	.header-nav__menus {
		display: flex;
		justify-content: right;
		align-items: center;
		text-align: right;
	}
}

.header-nav__menus .menus-list {
	padding: 0;
	margin: 0;

	.menus-list__item {
		font-family: var(--roboto-light);
		list-style-type: none;
		display: inline-block;
		@include fontSize(1.25);

		& + .menus-list__item {
			margin-left: 30px;
		}
	}
}
