.header-contact {
}

.ribbon {
	width: 0px;
	height: 35px;
	color: $brand-white;
	background-color: transparent;
	position: absolute;
	top: -5px;
	right: 20px;
	border: 15px solid $brand-primary;
	border-bottom: 15px solid transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transition: all 0.2s;
	cursor: pointer;
}
