// dropping ribbon
.ribbon {
  width: 0px;
  height: 50px;
  color: $brand-white;
  background-color: transparent;
  border: 15px solid $brand-primary;
  border-bottom: 15px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
}

/* common */
.corner-ribbon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}

.corner-ribbon::before,
.corner-ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid $brand-success;
}
.corner-ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: $brand-success;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: $brand-white;
  font: 700 18px/1 var(--roboto-regular);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.corner-ribbon-top-left {
  top: -20px;
  left: -20px;
}
.corner-ribbon-top-left::before,
.corner-ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.corner-ribbon-top-left::before {
  top: 0;
  right: 0;
}
.corner-ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.corner-ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
