// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border-color: #f1f1f1;

// Brands
$brand-primary: #0090ef;
$brand-info: #0090ef;
$brand-success: #00b348;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$dark-primary: #424242;
$dark-secondary: #303030;

$brand-white: #fff;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Roboto-Regular", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #424242;
$border-radius: 25%;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
